<div class="col-12 p-0 bg-black px-5">
	<div class="rows px-5">
	    <div class="row__inner">
	    	{{range .videos}}
	    	<div type="button" class=" tile " data-toggle="modal" data-target="#{{.video}}">
	      
	        <div class="tile__media">
	        	{{ partial "image.html" (dict "image" .video_thumb  "class" "tile__img") }}
	        </div>
	        <div class="tile__details">
	          <div class="tile__title">
	            {{ .text }}
	          </div>
	        </div>
	      </div>
	      {{ end }}
	    </div>
	</div>
</div>